
/* ==========================================================================
   Author's custom styles
  ==========================================================================
*/
@import url(//fonts.googleapis.com/css?family=Open+Sans);


h1, h2, h3, h4, p.intro, #homepage-feed .maia-nav-aux li, .navmenu li a, .in-page-nav li a, .gweb-lightbox-title-close, .customers-lb-title-close, .gweb-lightbox-caption, .apps-promo-box .featured, .cs-dialog-title h1, .cs-dialog-title p, .cs-dialog-title a, .cs-dialog-title .note, .cs-dialog-buttons .page-indicator, .cs-dialog label, .cs-dialog p, .cs-dialog-thanks-body p, #pricing .info .cost {
font-family: "Open Sans",arial,sans-serif;
}

.navbar-masthead{
  margin-bottom: 0;
}
.mayauhui{
  background-color: #0073E5;
  background-image: -ms-radial-gradient(top right,ellipse cover,#00A6FE 23%,#0073E5 100%);
  background-image: -moz-radial-gradient(top right,ellipse farthest-corner,#00a6fe 23%,#0073e5 100%);
  background-image: -o-radial-gradient(top right,ellipse cover,#00A6FE 23%,#0073E5 100%);
  background-image: -webkit-gradient(radial,top right,0,center right,559,color-stop(0,#00A6FE),color-stop(1,#0073E5));
  background-image: -webkit-radial-gradient(top right,ellipse cover,#00A6FE 23%,#0073E5 100%);
  -moz-box-shadow: 0 -7px 5px -6px rgba(0,0,0,.2) inset,0 5px 7px -5px rgba(0,0,0,.45) inset;
  -webkit-box-shadow: 0 -7px 5px -6px rgba(0,0,0,.2) inset,0 5px 7px -5px rgba(0,0,0,.45) inset;
  box-shadow: 0 -7px 5px -6px rgba(0,0,0,.2) inset,0 5px 7px -5px rgba(0,0,0,.45) inset;
}
.mayauhui .container{
  color: #fff;
  text-shadow: 1px 1px rgba(0,0,0,.3);
}
.mayauhui.subpage{
  max-height: 300px;
  padding-top: 0;
  padding-bottom: 5px;
}

.mayahome .row p{
  line-height: 22px;
}
.content {
  min-height: 90%;
}
.disabledbox{
  background: #eee;
}
.disabledbox .btn{
  background-image: linear-gradient(to bottom,#7A7A7A 0,#878787 100%)!important;
  border: 1px solid #6E6E6E!important;
}

/*docs*/
.tools{}
.tools .tool-title{
  margin:0;
}
.tools .ss{
  min-height: 200px;
  border:1px solid #ddd;
}
.tools .tool .row{
  margin-bottom: 15px;
}
.tools .tool{
  margin-bottom: 10%;
}

/*emdbed*/
.form-intro{
  margin-bottom: 20px;
}
.form-intro p{
  margin:0;
  line-height: 18px;
}
#embedFrm{
  margin-bottom: 10%;
}
#embedFrm textarea{
  min-height: 200px;
  min-width: 100%;
  max-width: 100%;
  font-family: monospace;
}

/*instagram*/
.instagram-box{
  margin:0 auto;
  float:none!important;
}
.instagram-box .textago{
  display: inline-block;
  margin-top: 5px;
  margin-left: -15px;
}

/*facebook*/
#fbFrm{
  margin-bottom: 20px;
}
#fbFrm .form-group > div[class*=col-sm-]{
  padding-left:0;
}
#fbFrm .arange{
  display: block;
}
#fbFrm .thedate .input-group-addon .glyphicon{
  min-width: 35px;
  text-align: left;
}


.wrap-action{
  margin-top:20px;
}







footer.footer{
  border-top:1px solid #ddd;
  color:#555;
}
footer.footer .container{
  height:40px;
}
footer.footer .container .inner-container{
  margin-top:5px;
  line-height: 2.19;
}
footer.footer .container ul{
  margin:0; padding:0;
  display: inline-block;
}
footer.footer .container ul li{
  display: inline;
  
  list-style: none;
  list-style-type: none;
  text-align: -webkit-match-parent;
}
footer.footer .container ul li+li:before {
content: "·";
padding: 0 3px;
}
footer.footer.fixed{
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
  z-index: 99;
  background: #f0f0f0;
}


